@import "tailwindcss";

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --green : #2C7E53;
    --dark_green: #112919;
    --white : #F5F5F2;
    --black : #010101;
}

@font-face {
  font-family: 'qaveria';
  src: url('/qaveria.ttf') format('truetype');
}


@layer utilities{
  button{
    @apply
    cursor-pointer
    disabled:cursor-not-allowed
  }

  h1{
    @apply
    text-xl md:text-2xl lg:text-4xl font-bold tracking-wide
  }

  p{
    @apply
    text-black/60
  }

}

@layer components{
    .padding{
        @apply
        p-4
        md:px-12 md:py-6
        lg:pt-12 pb-2 lg:px-16

    }
    .padding_inline{
        @apply
        px-4
        md:px-12
        lg:px-16
    }

    .padding_inline_block{
      @apply
      p-4
      md:px-12 md:py-6
      lg:px-16 lg:py-8
    }
}
/* Burger Menu Styles */
.burger {
  width: 100%;
  position: relative;
  height: 2px;
}

.burger::after,
.burger::before {
  content: "";
  width: 60%;
  height: 2px;
  border-radius: 10px;
  display: block;
  margin: auto;
  position: absolute;
  left: 20%;
  transition: transform 0.3s ease, top 0.3s ease;
  background-color: var(--white);
}

.burger::after {
  top: -5px;
}

.burger::before {
  top: 5px;
}

.burger_active::after {
  transform: rotate(45deg);
  top: 0;
}

.burger_active::before {
  transform: rotate(-45deg);
  top: 0;
}
